@import 'antd/dist/antd.css';

.App {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 5px;
  width: 100vw;
  /* height: 100vh; */
  z-index: 1;
}
.App h1 {
  text-align: center;
}
.dis_flex{
  display: flex;
}
.text_align {
  text-align: center;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.right {
  margin: 15px auto;
  text-align: right;
}

.input{
  background-color: transparent;
}

.register_form{
  padding: 30px;
  width: 400px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.161);
}
.footer {
  position: relative;
  bottom: 0;
  background-color: rgba(8, 6, 6, 0.916);
  width: 100%;
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
