body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(180, 148, 58);
  background: linear-gradient(
    270deg,
    
    rgba(246, 69, 252, 0.511) 0%,
    rgba(180, 147, 58, 0.3) 50%,
    rgba(29, 216, 253, 0.493) 100%
  );
  /* animation: bg 5s 10s infinite ease-in-out; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@keyframes bg {
  0% {
    background: linear-gradient(
      0deg,
      rgba(180, 148, 58, 0.6783088235294117) 0%,
      rgba(29, 214, 253, 0.4430147058823529) 50%,
      rgba(247, 69, 252, 0.7175245098039216) 100%
    );
    transition: 5s ease-in-out;
  }
  50% {
    background: linear-gradient(
      90deg,
      rgba(180, 148, 58, 0.6783088235294117) 0%,
      rgba(29, 214, 253, 0.4430147058823529) 50%,
      rgba(247, 69, 252, 0.7175245098039216) 100%
    );
  }
  75% {
    background: linear-gradient(
      180deg,
      rgba(180, 148, 58, 0.6783088235294117) 0%,
      rgba(29, 214, 253, 0.4430147058823529) 50%,
      rgba(247, 69, 252, 0.7175245098039216) 100%
    );
  }
  100% {
    background: linear-gradient(
      270deg,
      rgba(180, 148, 58, 0.6783088235294117) 0%,
      rgba(29, 214, 253, 0.4430147058823529) 50%,
      rgba(247, 69, 252, 0.7175245098039216) 100%
    );
  }
}

.input{
  background-color: aqua;
}