footer{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.comp{
    font-size: 20px;
    color: white;
}
.mr{
    margin: 20px;
}
.mb{
    margin-bottom: 15px;
}
.span{
    margin: 5px;
    color: white;
}
.ul{
    display: inline-flex;
}

.ul li:first-child{
    list-style-type: none;
}
.ul li{
    color: rgb(59, 59, 59);
}
.ul li a{
    color: rgb(255, 255, 255);
    font-size: 12px;
}